In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../00. Data/RAW_recipes.csv")

In [3]:
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [22]:
ingredients = df[df['id'] == 39]['ingredients']

In [26]:

for ingredient in ingredients:
    print(ingredient)

['saffron', 'milk', 'hot green chili peppers', 'onions', 'garlic', 'clove', 'peppercorns', 'cardamom seed', 'coriander seed', 'cumin seed', 'poppy seed', 'mace', 'cilantro', 'fresh lemon juice', 'plain yogurt', 'boneless chicken', 'salt', 'vegetable oil', 'ghee', 'onion', 'tomatoes', 'basmati rice', 'raisins', 'cashews', 'almonds', 'eggs']

In [20]:
df[df['id'] == 39]['steps']

23695    ['soak saffron in warm milk for 5 minutes and ...
Name: steps, dtype: object

In [21]:
for elem in df[df['id'] == 39]['steps']:
    print(elem)

['soak saffron in warm milk for 5 minutes and puree in blender', 'add chiles , onions , ginger , garlic , cloves , peppercorns , cardamom seeds , cinnamon , coriander and cumin seeds , poppy seeds , nutmeg , mace , cilantro or mint leaves and lemon juice', 'blend into smooth paste', 'put paste into large bowl , add yogurt and mix well', 'marinate chicken in yogurt mixture with salt , covered for at least 2 - 6 hours in refrigerator', 'in skillet', 'heat oil over medium heat for 1 minute', 'add ghee and 15 seconds later add onion and fry for about8 minutes', 'reserve for garnish', 'in same skillet , cook chicken with its marinade with tomatoes for about 10 minutes over medium heat , uncovered', 'remove chicken pieces from the sauce and set aside', 'add rice to sauce , bring to boil , and cook , covered over low heat for 15 minutes', 'return chicken and add raisins , cashews and almonds', 'mix well', 'simmer , covered for 5 minutes', 'place chicken , eggs and rice in large serving dish in such a way that yellow of the eggs , the saffron-colored rice , the nuts and the chicken make a colorful display', 'add reserved onion as garnish']

In [34]:
import pickle


with open('../00. Data/ingr_map.pkl', 'rb') as f:
    data = pickle.load(f)

In [35]:
data

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11659 entries, 0 to 11658
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raw_ingr   11659 non-null  object
 1   raw_words  11659 non-null  int64
 2   processed  11659 non-null  object
 3   len_proc   11659 non-null  int64
 4   replaced   11659 non-null  object
 5   count      11659 non-null  int64
 6   id         11659 non-null  int16
dtypes: int16(1), int64(3), object(3)
memory usage: 660.4+ KB

In [37]:
data[data['id'] == 39]

         raw_ingr  raw_words    processed  len_proc     replaced  count  id
7922  agave syrup          2  agave syrup        11  agave syrup     34  39