# Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
root_path = '../../Fed_up/data/raw'

recipe_converters = {'tags': eval, 'nutrition': eval, 'steps': eval, 'ingredients': eval}
review_converters = {}

recipes_raw = pd.read_csv(f'{root_path}/RAW_recipes.csv', converters=recipe_converters)
reviews_raw = pd.read_csv(f'{root_path}/RAW_interactions.csv', converters=review_converters)

## Recipes

In [3]:
recipes_raw.shape

(231637, 12)

In [4]:
recipes_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [5]:
recipes_raw.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"[60-minutes-or-less, time-to-make, course, mai...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"[make a choice and proceed with recipe, depend...",autumn is my favorite time of year to cook! th...,"[winter squash, mexican seasoning, mixed spice...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"[30-minutes-or-less, time-to-make, course, mai...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"[preheat oven to 425 degrees f, press dough in...",this recipe calls for the crust to be prebaked...,"[prepared pizza crust, sausage patty, eggs, mi...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"[time-to-make, course, preparation, main-dish,...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"[brown ground beef in large pot, add chopped o...",this modified version of 'mom's' chili was a h...,"[ground beef, yellow onions, diced tomatoes, t...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"[60-minutes-or-less, time-to-make, course, mai...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,[place potatoes in a large pot of lightly salt...,"this is a super easy, great tasting, make ahea...","[spreadable cheese with garlic and herbs, new ...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"[weeknight, time-to-make, course, main-ingredi...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,"[mix all ingredients& boil for 2 1 / 2 hours ,...",my dh's amish mother raised him on this recipe...,"[tomato juice, apple cider vinegar, sugar, sal...",8

In [6]:
recipes = recipes_raw.copy()

### Nutrition

In [7]:
nutrition_cols = ['calories', 'total_fat', 'sugar', 'sodium', 'protein', 'saturated_fat', 'carbohydrates']

def clean_nutrition(df, col='nutrition'):
    data = np.array(df[col].to_list())
    
    for index, nut_col in enumerate(nutrition_cols):
        df[nut_col] = data[:, index].astype(float)
        
    return df[nutrition_cols]

In [8]:
recipes[nutrition_cols] = clean_nutrition(recipes)

In [9]:
nutrition_df = recipes[['name', 'nutrition', 'calories', 'total_fat', 
                        'sugar', 'sodium', 'protein', 'saturated_fat', 'carbohydrates']]
nutrition_df.head()

,name,nutrition,calories,total_fat,sugar,sodium,protein,saturated_fat,carbohydrates
0,arriba baked winter squash mexican style,"[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,"[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,"[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,"[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,"[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",352.9,1.0,337.0,23.0,3.0,0.0,28.0

In [10]:
nutrition_df.isnull().sum()

name             1
nutrition        0
calories         0
total_fat        0
sugar            0
sodium           0
protein          0
saturated_fat    0
carbohydrates    0
dtype: int64

### List Cols (Tags, Steps, Ingredients)

In [11]:
def stringify(col, commas=True):
    if commas:
        new_col = (', ').join(col)
    else:
        new_col = (' ').join(col)
    return new_col

In [12]:
list_cols = ['tags', 'steps', 'ingredients']

def stringify_cols(data, cols, commas=True):
    for col in cols:
        data[col] = data[col].map(lambda x: stringify(x, commas=commas))

In [13]:
stringify_cols(recipes, list_cols)

In [14]:
recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat,sugar,sodium,protein,saturated_fat,carbohydrates
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"60-minutes-or-less, time-to-make, course, main...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"make a choice and proceed with recipe, dependi...",autumn is my favorite time of year to cook! th...,"winter squash, mexican seasoning, mixed spice,...",7,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"30-minutes-or-less, time-to-make, course, main...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"preheat oven to 425 degrees f, press dough int...",this recipe calls for the crust to be prebaked...,"prepared pizza crust, sausage patty, eggs, mil...",6,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,130,196586,2005-02-25,"time-to-make, course, preparation, main-dish, ...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"brown ground beef in large pot, add chopped on...",this modified version of 'mom's' chili was a h...,"ground beef, yellow onions, diced tomatoes, to...",13,269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,59389,45,68585,2003-04-14,"60-minutes-or-less, time-to-make, course, main...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,place potatoes in a large pot of lightly salte...,"this is a super easy, great tasting, make ahea...","spreadable cheese with garlic and herbs, new p...",11,368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"weeknight, time-to-make, course, main-ingredie...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,"mix all ingredients& boil for 2 1 / 2 hours , ...",my dh's amish mother raised him on this recipe...,"tomato juice, apple cider vinegar, sugar, salt...",8,352.9,1.0,337.0,23.0,3.0,0.0,28.0

### Data Conversion

In [15]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat,sugar,sodium,protein,saturated_fat,carbohydrates
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"60-minutes-or-less, time-to-make, course, main...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"make a choice and proceed with recipe, dependi...",autumn is my favorite time of year to cook! th...,"winter squash, mexican seasoning, mixed spice,...",7,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"30-minutes-or-less, time-to-make, course, main...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"preheat oven to 425 degrees f, press dough int...",this recipe calls for the crust to be prebaked...,"prepared pizza crust, sausage patty, eggs, mil...",6,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,130,196586,2005-02-25,"time-to-make, course, preparation, main-dish, ...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"brown ground beef in large pot, add chopped on...",this modified version of 'mom's' chili was a h...,"ground beef, yellow onions, diced tomatoes, to...",13,269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,59389,45,68585,2003-04-14,"60-minutes-or-less, time-to-make, course, main...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,place potatoes in a large pot of lightly salte...,"this is a super easy, great tasting, make ahea...","spreadable cheese with garlic and herbs, new p...",11,368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"weeknight, time-to-make, course, main-ingredie...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,"mix all ingredients& boil for 2 1 / 2 hours , ...",my dh's amish mother raised him on this recipe...,"tomato juice, apple cider vinegar, sugar, salt...",8,352.9,1.0,337.0,23.0,3.0,0.0,28.0

### Metadata

In [16]:
recipes['metadata'] = recipes['tags'] + " " + recipes['ingredients'] \
                      + " " + recipes['steps'] + " " + recipes['description']

### Reordering Columns

In [17]:
recipes.columns

Index(['name', 'id', 'minutes', 'contributor_id', 'submitted', 'tags',
       'nutrition', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients', 'calories', 'total_fat', 'sugar', 'sodium', 'protein',
       'saturated_fat', 'carbohydrates', 'metadata'],
      dtype='object')

In [18]:
recipes = pd.DataFrame(recipes, columns=['id', 'contributor_id', 'name', 'minutes','n_steps', 'n_ingredients', 'calories', 'total_fat', 'sugar', 'sodium', 'protein',
       'saturated_fat', 'carbohydrates', 'tags', 'ingredients', 'steps', 'description', 'metadata', 'submitted'])

In [19]:
recipes.head()

,id,contributor_id,name,minutes,n_steps,n_ingredients,calories,total_fat,sugar,sodium,protein,saturated_fat,carbohydrates,tags,ingredients,steps,description,metadata,submitted
0,137739,47892,arriba baked winter squash mexican style,55,11,7,51.5,0.0,13.0,0.0,2.0,0.0,4.0,"60-minutes-or-less, time-to-make, course, main...","winter squash, mexican seasoning, mixed spice,...","make a choice and proceed with recipe, dependi...",autumn is my favorite time of year to cook! th...,"60-minutes-or-less, time-to-make, course, main...",2005-09-16
1,31490,26278,a bit different breakfast pizza,30,9,6,173.4,18.0,0.0,17.0,22.0,35.0,1.0,"30-minutes-or-less, time-to-make, course, main...","prepared pizza crust, sausage patty, eggs, mil...","preheat oven to 425 degrees f, press dough int...",this recipe calls for the crust to be prebaked...,"30-minutes-or-less, time-to-make, course, main...",2002-06-17
2,112140,196586,all in the kitchen chili,130,6,13,269.8,22.0,32.0,48.0,39.0,27.0,5.0,"time-to-make, course, preparation, main-dish, ...","ground beef, yellow onions, diced tomatoes, to...","brown ground beef in large pot, add chopped on...",this modified version of 'mom's' chili was a h...,"time-to-make, course, preparation, main-dish, ...",2005-02-25
3,59389,68585,alouette potatoes,45,11,11,368.1,17.0,10.0,2.0,14.0,8.0,20.0,"60-minutes-or-less, time-to-make, course, main...","spreadable cheese with garlic and herbs, new p...",place potatoes in a large pot of lightly salte...,"this is a super easy, great tasting, make ahea...","60-minutes-or-less, time-to-make, course, main...",2003-04-14
4,44061,41706,amish tomato ketchup for canning,190,5,8,352.9,1.0,337.0,23.0,3.0,0.0,28.0,"weeknight, time-to-make, course, main-ingredie...","tomato juice, apple cider vinegar, sugar, salt...","mix all ingredients& boil for 2 1 / 2 hours , ...",my dh's amish mother raised him on this recipe...,"weeknight, time-to-make, course, main-ingredie...",2002-10-25

## Reviews

In [20]:
reviews_raw.shape

(1132367, 5)

In [21]:
reviews_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [22]:
reviews_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [23]:
reviews = reviews_raw.copy()

### Data Conversion

In [24]:
reviews['date'] = pd.to_datetime(reviews['date'])
reviews.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [25]:
reviews['liked'] = reviews['rating'].map(lambda r: 1 if r >= 4 else 0)

In [27]:
reviews.head()

,user_id,recipe_id,date,rating,review,liked
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...,1
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall...",1
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...,1
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...,1
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin...",1

In [28]:
reviews.isnull().sum()

user_id        0
recipe_id      0
date           0
rating         0
review       169
liked          0
dtype: int64

In [31]:
reviews.dropna(inplace=True)

In [32]:
reviews.isnull().sum()

user_id      0
recipe_id    0
date         0
rating       0
review       0
liked        0
dtype: int64

In [35]:
list(recipes['id'].sort_values())

[38,
 39,
 40,
 41,
 43,
 45,
 46,
 48,
 49,
 50,
 52,
 53,
 55,
 58,
 59,
 62,
 63,
 66,
 67,
 70,
 81,
 82,
 84,
 85,
 91,
 92,
 93,
 94,
 100,
 108,
 109,
 110,
 112,
 113,
 114,
 115,
 118,
 119,
 120,
 122,
 123,
 124,
 126,
 128,
 131,
 133,
 135,
 136,
 139,
 141,
 142,
 143,
 144,
 146,
 147,
 148,
 149,
 150,
 152,
 153,
 154,
 156,
 161,
 164,
 165,
 167,
 170,
 171,
 172,
 174,
 175,
 176,
 178,
 180,
 181,
 183,
 185,
 186,
 187,
 189,
 190,
 191,
 192,
 194,
 195,
 196,
 197,
 198,
 199,
 201,
 203,
 205,
 206,
 207,
 209,
 210,
 212,
 213,
 215,
 216,
 223,
 224,
 226,
 229,
 231,
 232,
 236,
 238,
 240,
 242,
 243,
 245,
 246,
 247,
 249,
 251,
 252,
 256,
 261,
 262,
 266,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 287,
 288,
 289,
 290,
 291,
 293,
 294,
 295,
 297,
 298,
 300,
 301,
 302,
 304,
 310,
 311,
 314,
 316,
 318,
 321,
 324,
 325,
 327,
 328,
 329,
 332,
 337,
 339,
 342,
 343,
 344,
 345,
 346,
 349,
 350,
 351,
 352,
 355,
 356,
 358,
 360,
 361,
 363,
 364,
 365,
 366,
 373,
 374,
 375,
 376,
 378,
 379,
 380,
 381,
 383,
 384,
 385,
 387,
 393,
 396,
 399,
 400,
 401,
 402,
 404,
 407,
 408,
 409,
 411,
 412,
 413,
 414,
 418,
 422,
 423,
 424,
 428,
 429,
 431,
 432,
 434,
 435,
 436,
 437,
 441,
 444,
 445,
 449,
 450,
 454,
 456,
 458,
 459,
 460,
 461,
 464,
 465,
 466,
 467,
 469,
 471,
 472,
 473,
 478,
 483,
 484,
 486,
 489,
 490,
 492,
 493,
 495,
 496,
 498,
 502,
 503,
 504,
 506,
 507,
 508,
 512,
 514,
 517,
 519,
 520,
 524,
 525,
 526,
 531,
 533,
 534,
 535,
 536,
 539,
 540,
 543,
 544,
 546,
 547,
 548,
 551,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 563,
 564,
 565,
 567,
 570,
 571,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 587,
 588,
 589,
 590,
 591,
 593,
 595,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 612,
 614,
 615,
 616,
 617,
 623,
 626,
 628,
 630,
 631,
 632,
 634,
 635,
 636,
 637,
 638,
 639,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 657,
 658,
 659,
 660,
 661,
 665,
 666,
 669,
 670,
 671,
 672,
 673,
 674,
 676,
 680,
 682,
 683,
 685,
 688,
 689,
 690,
 691,
 692,
 693,
 696,
 705,
 707,
 712,
 719,
 730,
 736,
 742,
 747,
 749,
 754,
 759,
 760,
 768,
 773,
 776,
 777,
 778,
 779,
 780,
 782,
 809,
 820,
 822,
 824,
 825,
 828,
 833,
 834,
 854,
 860,
 868,
 876,
 884,
 885,
 893,
 897,
 902,
 912,
 913,
 916,
 930,
 931,
 932,
 933,
 938,
 953,
 956,
 958,
 962,
 965,
 970,
 971,
 974,
 975,
 989,
 992,
 1005,
 1008,
 1018,
 1024,
 1031,
 1033,
 1035,
 1042,
 1045,
 1048,
 1069,
 1073,
 1074,
 1075,
 1079,
 1100,
 1103,
 1106,
 1127,
 1128,
 1129,
 1133,
 1136,
 1141,
 1144,
 1145,
 1148,
 1151,
 1155,
 1157,
 1162,
 1168,
 1183,
 1184,
 1196,
 1201,
 1204,
 1207,
 1217,
 1229,
 1232,
 1236,
 1246,
 1249,
 1259,
 1267,
 1293,
 1296,
 1303,
 1306,
 1317,
 1320,
 1322,
 1330,
 1355,
 1356,
 1379,
 1396,
 1399,
 1406,
 1420,
 1423,
 1437,
 1438,
 1442,
 1446,
 1465,
 1481,
 1506,
 1507,
 1521,
 1522,
 1524,
 1525,
 1526,
 1527,
 1528,
 1533,
 1541,
 1543,
 1550,
 1552,
 1557,
 1560,
 1562,
 1564,
 1565,
 1566,
 1574,
 1576,
 1577,
 1578,
 1580,
 1581,
 1587,
 1590,
 1593,
 1595,
 1599,
 1600,
 1602,
 1612,
 1630,
 1633,
 1649,
 1660,
 1662,
 1693,
 1696,
 1699,
 1712,
 1719,
 1721,
 1725,
 1746,
 1760,
 1797,
 1823,
 1825,
 1832,
 1841,
 1857,
 1861,
 1870,
 1873,
 1878,
 1881,
 1882,
 1883,
 1888,
 1902,
 1904,
 1913,
 1923,
 1940,
 1945,
 1955,
 1967,
 1975,
 1977,
 1982,
 1985,
 1999,
 2002,
 2015,
 2019,
 2032,
 2056,
 2057,
 2066,
 2068,
 2072,
 2075,
 2086,
 2087,
 2092,
 2100,
 2105,
 2110,
 2111,
 2112,
 2113,
 2121,
 2122,
 2123,
 2126,
 2129,
 2130,
 2131,
 2137,
 2141,
 2142,
 2144,
 2146,
 2155,
 2164,
 2175,
 2188,
 2189,
 2204,
 2218,
 2221,
 2238,
 2254,
 2255,
 2267,
 2279,
 2284,
 2306,
 2309,
 2325,
 2329,
 2335,
 2364,
 2366,
 2386,
 2387,
 2388,
 2393,
 2405,
 2417,
 2420,
 2425,
 2438,
 2450,
 2456,
 2462,
 2474,
 2484,
 2495,
 2496,
 2498,
 2501,
 2502,
 2509,
 2510,
 2514,
 2515,
 2518,
 2519,
 2520,
 2524,
 2526,
 2528,
 2531,
 2533,
 2535,
 2537,
 2539,
 2540,
 2541,
 2543,
 2549,
 2553,
 2555,
 2560,
 2561,
 2571,
 2574,
 2576,
 2577,
 2578,
 2579,
 2582,
 2583,
 2586,
 2588,
 2592,
 2595,
 2597,
 2598,
 2604,
 2610,
 2611,
 2614,
 2615,
 2621,
 2622,
 2625,
 2626,
 2628,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2637,
 2639,
 2641,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2658,
 2659,
 2660,
 2662,
 2663,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2673,
 2674,
 2675,
 2677,
 2678,
 2679,
 2680,
 2681,
 2684,
 2686,
 2688,
 2690,
 2691,
 2692,
 2694,
 2695,
 2698,
 2699,
 2700,
 2703,
 2704,
 2705,
 2707,
 2708,
 2710,
 2712,
 2713,
 2714,
 2718,
 2720,
 2724,
 2725,
 2726,
 2727,
 2728,
 2731,
 2734,
 2737,
 2739,
 2741,
 2743,
 2746,
 2747,
 2748,
 2751,
 2752,
 2754,
 2755,
 2757,
 2758,
 2759,
 2761,
 2762,
 2767,
 2770,
 2771,
 2772,
 2774,
 2775,
 2776,
 2778,
 2780,
 2781,
 2783,
 2785,
 2788,
 2789,
 2791,
 2793,
 2794,
 2796,
 2797,
 2800,
 2801,
 2802,
 2803,
 2804,
 2806,
 2808,
 2809,
 2814,
 2815,
 2819,
 2821,
 2822,
 2823,
 2825,
 2826,
 2827,
 2828,
 2830,
 2831,
 2835,
 2836,
 2839,
 2840,
 2841,
 2842,
 2844,
 2847,
 2848,
 2853,
 2856,
 2859,
 2862,
 2863,
 2864,
 2865,
 2866,
 2869,
 2872,
 2873,
 2877,
 2878,
 2880,
 2881,
 2883,
 2885,
 2886,
 2888,
 2889,
 2891,
 2893,
 2895,
 2897,
 2898,
 2900,
 2901,
 2902,
 2903,
 2913,
 2914,
 2916,
 2919,
 2920,
 2922,
 2923,
 2925,
 2927,
 2928,
 2929,
 2930,
 2931,
 2934,
 2935,
 2936,
 2937,
 2939,
 2940,
 2941,
 2942,
 2945,
 2950,
 2953,
 2957,
 2958,
 2959,
 2960,
 2962,
 2963,
 2965,
 2969,
 2970,
 2973,
 2974,
 2979,
 2980,
 2982,
 2983,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2994,
 2996,
 2998,
 3000,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3014,
 3015,
 3016,
 3017,
 3020,
 3021,
 3023,
 3027,
 3028,
 3030,
 3032,
 3033,
 3034,
 3037,
 3043,
 3044,
 3045,
 3047,
 3049,
 3051,
 3055,
 3056,
 3057,
 3058,
 3061,
 3062,
 3063,
 3064,
 3065,
 3066,
 3069,
 3079,
 3080,
 3082,
 3083,
 3084,
 3085,
 3090,
 3091,
 3092,
 3094,
 3095,
 3097,
 3099,
 3101,
 3102,
 3103,
 3110,
 3115,
 3116,
 3119,
 3121,
 3122,
 3131,
 3133,
 3134,
 3135,
 3137,
 3138,
 3140,
 3141,
 3143,
 3144,
 3145,
 3146,
 3149,
 3154,
 3157,
 3158,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3166,
 3168,
 3173,
 3179,
 3180,
 3182,
 3183,
 3184,
 3185,
 3186,
 3187,
 3189,
 3193,
 3194,
 3195,
 3196,
 3198,
 3199,
 3200,
 3201,
 3203,
 ...]