In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
!ls '../../Fed_up/data/preprocessed'

recipe_pp.csv     recipe_pp_old.csv review_pp.csv     review_pp_old.csv

In [54]:
recipes = pd.read_csv('../../Fed_up/data/preprocessed/recipe_pp.csv')

In [55]:
recipes.shape

(88927, 21)

In [56]:
recipes.head()

,recipe_id,user_id,name,rating_mean,rating_count,minutes,n_steps,n_ingredients,calories,total_fat,...,sodium,protein,saturated_fat,carbohydrates,tags,ingredients,steps,description,metadata,submitted
0,137739,47892,arriba baked winter squash mexican style,5.000000,3,55,11,7,51.5,0.0,...,0.0,2.0,0.0,4.0,"['60-minutes-or-less', 'time-to-make', 'course...","['winter squash', 'mexican seasoning', 'mixed ...","['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['arriba', 'baked', 'winter', 'squash', 'mexic...",2005-09-16
1,59389,68585,alouette potatoes,4.000000,1,45,11,11,368.1,17.0,...,2.0,14.0,8.0,20.0,"['60-minutes-or-less', 'time-to-make', 'course...","['spreadable cheese with garlic and herbs', 'n...",['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['alouette', 'potatoes', '60minutesorless', 't...",2003-04-14
2,25274,21730,aww marinated olives,2.000000,1,15,4,9,380.7,53.0,...,24.0,6.0,24.0,6.0,"['15-minutes-or-less', 'time-to-make', 'course...","['fennel seeds', 'green olives', 'ripe olives'...",['toast the fennel seeds and lightly crush the...,my italian mil was thoroughly impressed by my ...,"['aww', 'marinated', 'olives', '15minutesorles...",2002-04-14
3,8559,4481,chinese chop suey,2.333333,3,70,8,7,395.4,31.0,...,29.0,51.0,33.0,8.0,"['weeknight', 'time-to-make', 'course', 'main-...","['celery', 'onion', 'ground pork', 'soy sauce'...","['brown ground meat and onion in a large pot',...",easy one-pot dinner.,"['chinese', 'chop', 'suey', 'weeknight', 'time...",2001-01-27
4,76808,95743,cream of spinach soup,4.666667,3,45,9,8,126.0,11.0,...,14.0,5.0,23.0,4.0,"['60-minutes-or-less', 'time-to-make', 'course...","['water', 'salt', 'boiling potatoes', 'fresh s...","['bring water and salt to a boil', 'cut the po...","wonderful comfort food from rozanne gold, a fa...","['cream', 'spinach', 'soup', '60minutesorless'...",2003-11-17

In [57]:
reviews = pd.read_csv('../../Fed_up/data/preprocessed/review_pp.csv')

In [58]:
reviews.shape

(388326, 6)

In [59]:
reviews.head()

,recipe_id,user_id,rating,liked,review,date
0,197160,136726,5,1,I used this mix to make meat balls.Very simple...,2006-11-25
1,79222,56680,5,1,"Oh, This was wonderful! Had a soup and salad ...",2006-11-11
2,20930,6258,5,1,"Jan, what an interesting combination of flavor...",2002-07-09
3,20930,102602,5,1,"Jan, we love your pasta salad, it's delicious....",2003-10-26
4,79222,183565,5,1,Wow! My family loves this recipe and it is a ...,2006-02-13

In [60]:
reviews.shape[0]

388326

In [61]:
count_df = reviews.groupby(by="user_id").count()
count_df = count_df[count_df.rating < 2].reset_index()
users_to_remove = set(count_df.user_id)
reviews = reviews[~reviews.user_id.isin(users_to_remove)]
reviews.shape

(388324, 6)

In [62]:
reviews[reviews['user_id'] == 1581]

Empty DataFrame
Columns: [recipe_id, user_id, rating, liked, review, date]
Index: []