In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
basic_path = '../../Fed_up/data'

In [3]:
recipes = pd.read_csv(f"{basic_path}/preprocessed/recipe_pp.csv")

In [4]:
test_data = pd.read_csv(f"{basic_path}/test/test_inputs.csv")

In [5]:
test_data.shape

(28861, 5)

In [6]:
from Fed_up.model import get_user_recommendations
from Fed_up.test import run_recommendations

In [10]:
input_df, output_df = run_recommendations(user_id=235291, collaborative=0.5)

  recipe_id                               name liked
0     16741             aunt bee s lentil soup     1
1     10744          delicious chicken pot pie     1
2     16575  just the best barbecue sauce ever     0
3     22782   jo mama s world famous spaghetti     1
4    107997       4 minute spicy garlic shrimp     1
5    212500               mushroom noodle soup     1
6    208930             mary s chiles rellenos     1
   recipe_id                                       name   content  \
0     370886           spanish chicken with yellow rice  1.706746
1     248879                    spaghetti picchi pacchi  1.672462
2      35222               wende s lemon pepper fajitas  1.949055
3      67842                spicy sweet mustard chicken  1.464562
4     153570              tuna or salmon melt casserole  1.480162
5     480626     whistlestop cafe chicken and dumplings  2.375561
6     191035                           carolina bbq rub  0.879479
7      33081                    amish chicken corn soup  2.179308
8     384429                       chicken scarpariello  2.214511
9      43051  portuguese bean stew  feijao a portuguesa  2.169484

   collaborative    hybrid  rec_score
0       0.954052  1.330399      1.000
1       0.934224  1.303343      0.976
2       0.606344  1.277699      0.953
3       0.949546  1.207054      0.891
4       0.897993  1.189077      0.875
5       0.000988  1.188274      0.874
6       1.433668  1.156574      0.846
7       0.044011  1.111660      0.806
8      -0.006908  1.103802      0.799
9      -0.000698  1.084393      0.782

In [11]:
input_df

  recipe_id                               name liked
0     16741             aunt bee s lentil soup     1
1     10744          delicious chicken pot pie     1
2     16575  just the best barbecue sauce ever     0
3     22782   jo mama s world famous spaghetti     1
4    107997       4 minute spicy garlic shrimp     1
5    212500               mushroom noodle soup     1
6    208930             mary s chiles rellenos     1

In [12]:
output_df.head(10)

,recipe_id,name,content,collaborative,hybrid,rec_score
0,370886,spanish chicken with yellow rice,1.706746,0.954052,1.330399,1.000
1,248879,spaghetti picchi pacchi,1.672462,0.934224,1.303343,0.976
2,35222,wende s lemon pepper fajitas,1.949055,0.606344,1.277699,0.953
3,67842,spicy sweet mustard chicken,1.464562,0.949546,1.207054,0.891
4,153570,tuna or salmon melt casserole,1.480162,0.897993,1.189077,0.875
5,480626,whistlestop cafe chicken and dumplings,2.375561,0.000988,1.188274,0.874
6,191035,carolina bbq rub,0.879479,1.433668,1.156574,0.846
7,33081,amish chicken corn soup,2.179308,0.044011,1.111660,0.806
8,384429,chicken scarpariello,2.214511,-0.006908,1.103802,0.799
9,43051,portuguese bean stew feijao a portuguesa,2.169484,-0.000698,1.084393,0.782